/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
img {
  width: 40%;
  height: auto;
}
/* Variables */
/* Mixins */
.container {
  margin: 0 2%;
}
.container header {
  display: flex;
  justify-content: flex-end;
}
.container header nav {
  width: 35%;
  display: flex;
  justify-content: space-between;
  padding: 2%;
}
@media (max-width: 500px) {
  .container header nav {
    width: 100%;
    justify-content: space-evenly;
  }
}
.container header nav a {
  text-decoration: none;
  color: black;
}
.container .top-content {
  background-color: #EEEEEE;
  padding: 7% 2%;
}
.container .top-content h1 {
  font-size: 3rem;
}
.container .top-content h2 {
  font-size: 1.1rem;
  padding: 2% 0;
  font-weight: bold;
  color: red;
}
.container .top-content p {
  border-top: 1px solid lightgray;
  padding: 3% 0;
}
.container .top-content button {
  background-color: gray;
  color: white;
  font-size: 1.1rem;
  border: none;
  padding: 2%;
  text-align: center;
}
.container .middle-content {
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
  flex-wrap: wrap;
}
.container .middle-content div {
  width: 50%;
  margin: 2% 0;
}
.container .middle-content div h2 {
  padding: 2% 0;
  font-size: 1.75rem;
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: red;
}
.container .middle-content div ul {
  border: 1px solid #EEEEEE;
  margin: 0 3%;
}
.container .middle-content div ul li {
  padding: 1.5% 0;
  border-bottom: 1px solid #EEEEEE;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .container .middle-content div {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}
.container .bottom-content h2 {
  font-size: 1.5rem;
  padding: 1% 0;
  font-weight: bold;
  color: red;
}
.container .bottom-content table {
  width: 100%;
}
.container .bottom-content table tr {
  border-top: 1px solid #EEEEEE;
}
.container .bottom-content table tr:nth-child(even) {
  background-color: #F2F2F2;
}
.container .bottom-content table th {
  padding: 1%;
  font-weight: bold;
  text-align: left;
}
.container .bottom-content table td {
  padding: 1%;
}
.container footer {
  text-align: center;
  margin-top: 3%;
  padding: 2% 0;
}
.container footer a:hover {
  font-weight: bold;
  color: red;
}
